body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;

  overflow-x: hidden;
}

a, .highlight {
  color: #9A6B7D;
  text-decoration: none;
}

a:hover {
    font-size: larger;
    font-weight: bold;
}

button {
  background-color: #9A6B7D;
  color: #FFFFFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #B8869B;
}

.card {
  background-color: #3a3a3a;
  padding: 2rem;
  border-radius: 1rem;
}