/* u24666981 Motheo Morena */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", sans-serif;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;

  overflow-x: hidden;
}

a, .highlight {
  color: #9A6B7D;
  text-decoration: none;
}

a:hover {
    font-size: larger;
    font-weight: bold;
}

button {
  background-color: #9A6B7D;
  color: #FFFFFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #B8869B;
}

.card {
  background-color: #3a3a3a;
  padding: 2rem;
  border-radius: 1rem;
}